.input {
  @apply bg-white text-primary mx-auto;

  &:hover,
  &:focus-within {
    background-color: white;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Add any additional styles you need */
